<div class="container">
	<div id="login">
		<div class="row centered-form">
			<div
				class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title" style="display: inline-block;">SIGN
							IN</h2>
					</div>
					<div class="panel-body">
						<form role="form">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12">
									<div class="form-group">
										<input type="text" name="username" id="username"
											class="form-control input-sm" placeholder="User name"
											required data-toggle="floatLabel" data-value="no-js">
										
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12">
									<div class="form-group">
										<input type="text" name="last_name" id="password"
											class="form-control input-sm" placeholder="Password" required
											data-toggle="floatLabel" data-value="no-js"> 
									</div>
								</div>
							</div>
							<input type="submit" value="LOG IN"
								class="btn btn-info btn-block" style="font-weight: bold">
							<div class="form-group">
								<div class="col-md-12 control">
									<div style="padding-top: 15px;">
										Don't have an account! <button class="btn btn-link"
											onClick="$('#login').hide(); $('#sign-up').show()"> Sign
											Up Here </button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="sign-up" style="display: none;">
		<div class="row centered-form">
			<div
				class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title">SIGN UP</h2>
					</div>
					<div class="panel-body">
						<form role="form">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12">
									<div class="form-group">
										<input type="text" name="first_name" id="first_name"
											class="form-control input-sm" placeholder="First Name"
											required data-toggle="floatLabel" data-value="no-js" ng-model="formData.register.firstName">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12">
									<div class="form-group">
										<input type="text" name="last_name" id="last_name"
											class="form-control input-sm" placeholder="Last Name"
											required data-toggle="floatLabel" data-value="no-js" ng-model="formData.register.lastName">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12">
									<div class="form-group">
										<input type="email" name="email" id="email"
											class="form-control input-sm" placeholder="Email Address"
											required data-toggle="floatLabel" data-value="no-js" ng-model="formData.register.email">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="form-group">
										<input type="password" name="password" id="password"
											class="form-control input-sm" placeholder="Password"
											data-toggle="floatLabel" ng-model="formData.register.password">
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="form-group">
										<input type="password" name="password_confirmation"
											id="password_confirmation" class="form-control input-sm"
											placeholder="Confirm Password" data-toggle="floatLabel" ng-model="formData.register.confirmPassword">
									</div>
								</div>
							</div>
							<input type="submit" class="btn btn-info btn-block" style="font-weight: bold" ng-click="next('/profile-wizard')" value="Next" />
							<div class="form-group">
								<div class="col-md-12 control">
									<div style="padding-top: 15px;">
										<button href="#" onClick="$('#login').show(); $('#sign-up').hide()" class="btn btn-link">
											Sign In Here </button>
									</div>
								</div>
							</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <a href="#profile-wizard">For Personal Wizard Testing</a><br>
	<a href="#education-wizard">For Educational Wizard Testing</a> -->
</div>