<div id="wizard-education">
	<div class="row centered-form">
		<div
			class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Enter Education Details</h2>
				</div>
				<div class="panel-body">
					<form role="form" class="form-horizontal">
						<div class="form-group">
							<label for="qualification" class="col-sm-2 control-label">Qualification</label>
							<div class="col-sm-4">
								<select type="text" name="qualification" id="qualification"
									class="form-control" data-value="no-js">
									<option value="0">Select qualification</option>
									<option value="1">SSC</option>
									<option value="2">HSC</option>
									<option value="3">Graduation</option>
									<option value="4">Other</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="description" class="col-sm-2 control-label">Specialization</label>
							<div class="col-sm-4">
								<input type="text" id="description" name="description" class="form-control" placeholder="Specialization">
							</div>
						</div>
						<div class="form-group">
							<label for="startDate" class="col-sm-2 control-label">Start Date</label>
							<div class="col-sm-4">
								<input type="date" id="startDate" name="startDate" class="form-control date" placeholder="Start Date">
							</div>
						</div>
						<div class="form-group">
							<label for="endDate" class="col-sm-2 control-label">End Date</label>
							<div class="col-sm-4">
								<input type="date" id="endDate" name="endDate"  class="form-control date" placeholder="End Date">
							</div>
						</div>
						<div class="form-group">
							<label for="university" class="col-sm-2 control-label">University</label>
							<div class="col-sm-4">
								<input type="text" id="university" name="university" class="form-control" placeholder="University">
							</div>
						</div>
						<div class="form-group">
							<label for="percentage" class="col-sm-2 control-label">Percentage</label>
							<div class="col-sm-4">
								<input type="number" id="percentage" name="percentage" class="form-control" placeholder="Percentage">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-info btn-default">Save</button>
								<button type="submit" class="btn btn-info btn-default">Skip</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>